
#navbar {
  background-color: white	;
  position: fixed;
  top: 0px;
  width: 100%;
  display: block;
  transition: top 0.7s;
}

#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;

}
